.widget-toolbar {
	height: 32px;
	margin-bottom: 8px;

	& + .widget-content {
		height: 254px;
	}
}

.widget-content {
	height: 294px;
	overflow: hidden;

	&.expanded {
		display: flex;
		gap: 10px;
		height: 470px;
		overflow: initial;

		& > * {
			flex: 1 1 50%;
		}
	}
}

.wk-button {
	white-space: nowrap;
}

h3 {
	margin-bottom: .8rem;
}
