.widget-toolbar {
	height: 32px;
	margin-bottom: 8px;

	& + .widget-content {
		height: 254px;
	}
}

.widget-content {
	height: 294px;
	overflow: hidden;

	&.expanded {
		display: flex;
		gap: 10px;
		height: 470px;
		overflow: initial;

		&.v-center {
			align-items: center;
		}

		& > * {
			flex: 1 1 50%;
		}

		.legend {
			margin-top: 16px;
		}
	}
}

.wk-button {
	white-space: nowrap;

	&.inactive {
		background-color: #ccc !important;
	}

	&.no-click {
		cursor: default;
	}
}

h2 {
	margin-bottom: 1.1rem;
}

h3 {
	margin-bottom: .8rem;
}

p {
	margin-bottom: 1em
}

a.wk-button {
	&:hover {
		text-decoration: none;
	}
}

.period-report-card-list {
	display: flex;
	justify-content: center;
	margin-bottom: 0;
	gap: 0.5rem;
	flex-wrap: wrap;
	height: 294px;
	overflow: hidden;
	padding-top: 0.2rem;
	margin-top: 0;

	.report-card {
		padding-bottom: 0;
		width: 250px;

		.wk-card {
			top: 0;

			&:hover {
				top: -.20rem;
			}
		}
	}
}

.wk-card {
	max-width: none !important;

	&.wk-file .wk-card-title {
		display: flex;
		align-items: baseline;
		gap: 0.6rem;

		.icon {
			font-size: 1.4em;
		}
	}

	.wk-card-body {
		padding: 3rem 0.8rem 2.5rem !important;

		.wk-tag-blue {
			left: 1rem;
		}

		.wk-card-subtitle {
			position: absolute;
			left: 1rem;
			bottom: 1rem;
			display: block !important;
		}
	}

	.wk-card-favorite-button {
		right: 1rem;
		top: 0.4rem;
	}
}

.kpi-card {
	text-align: center;

	.kpi-value {
		.title {
			margin-right: 1ch;
		}

		.value {
			margin-right: 1ch;
		}

		.period {
			&:before {
				content: "("
			}

			&:after {
				content: ")"
			}
		}
	}
}

.wk-text-muted-lighter {
	color: #a3a3a3;
}

.legend {
	height: 32px;
	overflow: hidden;
	margin-top: 8px;
	display: flex;
	gap: .5rem;
	justify-content: center;

	.legend-entry {
		flex: 0 0 50%;
		max-width: 20ch;
	}
}

.chartExample {
	canvas {
		margin-top: -12px;
		margin-bottom: 12px;
	}
}

.widget-content.expanded .chartExample + .legend {
	margin-top: 7.5px;
}
